__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
.history/

*.log
*.csv
*.npy
*.npz
*.pt

!output/mlp_out_v7_mix50/model.pt
!output/mlp_out_v7_mix50/scaler.npz

output/*
!output/mlp_out_v7_mix50/
!output/mlp_out_v7_mix50/model.pt
!output/mlp_out_v7_mix50/scaler.npz
!output/mlp_out_v7_mix50/train_log.json
!output/merged_eval/
!output/merged_eval/*.json

data/*
!data/README.md
